.app-header {
  align-items: flex-end;
  justify-content: space-between;
}


.app-header h1 {
  font-size: 37px;
  margin-bottom: 40px;
}


.header__stats {
  font-size: 22px;
  color: #795353;
}

.dinamic-stat-all {
  color: rgb(230, 231, 210);
}

.dinamic-stat-like {
  color: rgb(192, 84, 84);
}

.dinamic-stat-important {
  color: rgb(226, 241, 16);
}

.dinamic-stat-done {
  color: rgb(136, 255, 0);
}